---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1 class="text-center mb-8 font-bold text-3xl">Hi!</h1>
  <p class="mt-6 text-lg">
    I'm Andrii Novakovskyi, aka inotopei, mainly self-taught programmer focused
    on building clean and expressive software products. I enjoy working with
    C/C++, Python, Swift, and JavaScript, and I care deeply about simplicity,
    design, and learning by doing.
  </p>
</BaseLayout>
