---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Links">
  <h1 class="text-center mb-8 font-bold text-3xl">Links</h1>
  <ul class="list-disc list-inside space-y-2">
    <li>
      <a
        href="https://github.com/inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        GitHub
      </a>
    </li>
    <li>
      <a
        href="https://x.com/inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        X
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Instagram
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </li>
    <li>
      <a
        href="https://www.youtube.com/@inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        YouTube
      </a>
    </li>
    <li>
      <a
        href="https://www.tiktok.com/@inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        TikTok
      </a>
    </li>
    <li>
      <a
        href="https://www.pinterest.com/inotopei"
        class="text-blue-500 hover:text-blue-700 hover:underline inline-flex items-center gap-1"
        target="_blank"
        rel="noopener noreferrer"
      >
        Pinterest
      </a>
    </li>
  </ul>
</BaseLayout>
