<header
  class="sticky top-0 z-50 mx-auto mt-4 max-w-fit rounded-3xl bg-zinc-800/90 px-6 py-4 flex justify-center"
>
  <nav>
    <ul class="flex justify-center gap-10 text-white text-lg font-medium">
      <li>
        <a href="/" class="hover:text-zinc-300 hover:bg-zinc-700/50">About</a>
      </li>
      <li>
        <a href="/projects" class="hover:text-zinc-300 hover:bg-zinc-700/50"
          >Projects</a
        >
      </li>
      <li>
        <a href="/links" class="hover:text-zinc-300 hover:bg-zinc-700/50"
          >Links</a
        >
      </li>
    </ul>
  </nav>
</header>
